.controls {
  background: #f8f8f8;
  bottom: 0;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  z-index: 1;
}

.button-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.button-list .button {
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
}

.button-list .button img {
  display: block;
  margin: 0 auto;
  width: 3em;
}

@media only screen and (min-width: 31rem) {
  .controls {
    background: transparent;
    bottom: auto;
    left: auto;
    position: relative;
    right: auto;
  }
}