body {
  background-color: #1F1D22;
}
.app {
  color: #ddd;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  padding: 1em 1em 5.5em 1em;
}
.app header {
  color: #eee;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.app-body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 31rem) {
  .app {
    padding-bottom: 1em;
  }
  .app-body {
    align-items: center;
    flex-direction: row;
  }
}